    body
            {
                background-color: white;
                color: white;
                font-family: "Audiowide", sans-serif;
            }   
    h2{
        color:crimson;
    }
    select
    {
        width:45%;
    }
